head, body, #map{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #f2f4f6;
}

.containerTools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

.busqueda{
    height: 2.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputBusqueda{
    width: 70%;
}

.buttonBusqueda{
    width: 28%;
}